/*--------------------------------------
--------------*** GLOBAL STYLE ***------------
----------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

/*--------------------------------------
--------------*** MAIN TOP BANNER ***------------
----------------------------------------*/

/*** HEADER ***/
header {
  background-image: url('../img/et_banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}

.logo {
  float: left;
  padding-top: 25px;
}

.head-nav ul {
  float: right;
  width: 685px;
}

.head-nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 1%;
  padding: 0 12px;
  height: 45px;
}

.head-nav ul li:last-child {
  display: inline-block;
  background-color: #EC143D;
  border-radius: 20px;
  height: 40px;
  width: 98px;
  padding-left: 25px;
}


.head-nav ul li a {
  display: inline-block;
  color: #ffffff;
  padding: 40px 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.head-nav ul li:hover a {
  transition-duration: .3s;
  color: #EC143D;
}

.head-nav ul li:last-child a {
  font-size: 12px;
  padding-top: 13px;
}

/*** MAIN BANNER STYLE ***/
.banner-content {
  padding: 200px 0;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.countdown-units {
  display: inline-block;
}

.countdown-row div {
  margin: 0 18px;
}

.days, .hours, .minutes, .seconds {
  float: left;
}

.day, .hour, .minute, .second {
  font-size: 62px;
  font-weight: 700;
}

.countdown-row .text {
  font-size: 24px;
  font-weight: lighter;
}

.days {
  color: #EC143D;
}

.hours {
  color: #FFBF28;
}

.minutes {
  color: #09ACF2;
}

.seconds {
  color: #8DC150;
}

.banner-title {
  font-family: 'Lato', sans-serif;
  font-size: 66px;
  text-transform: uppercase;
  padding-top: 14px;
  margin-bottom: 20px;
}

.banner-title-info {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.banner-btn a {
  margin: 0 5px;
}

.banner-btn a:first-child {
  display: inline-block;
  background-color: #EC143D;
  height: 45px;
  width: 150px;
  border-radius: 22.5px;
  color: #fff;
  font-size: 12px;
  padding-top: 16px;
}

.banner-btn a:last-child {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 22.5px;
  height: 45px;
  width: 150px;
  padding-top: 14px;
  color: #fff;
  font-size: 12px;
}
